        body
        {
            margin: 0;
            padding: 0;
            color: #353535;
            font-family: 'Ubuntu Condensed', sans-serif;
        }

        h1,h3
        {
            text-align: left;
            margin: 0px;
            padding: 1px;
            color:deepskyblue;
        }
        p{
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        .clear{
            clear:both;
        }
        .imgcontainer {
            position:relative;
        }
        .imgcontainer .msg{
            position: absolute;
            top: 0;
            background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
            color: #f1f1f1;
            width: 1160px;
            height: 80px;
            padding: 20px;
            display:none;

        }
        .initials{
            color:deepskyblue;
            border:deepskyblue 1px solid;
            font-size:45px;
            border-radius:5%;
            width:60px;
            background:white;
            font-weight: 500;
            font-style: initial;
            cursor:pointer;
        }
        .container {
            position:relative;
        }
        #title {
            position: absolute;
            float:left;
            font-size:60px;
            top:12px;
            left: 160px;
        }
        #title2 {
            color:deepskyblue;
            position: relative;
            float:left;
            font-size:60px;
            left: 320px;
            top:-65px;

        } 
        #subTitle{
            position: absolute;
            left: 160px;
            font-size:18px;
            margin-top: 5px;
        }
        .name {
            color:deepskyblue;
            font-size:25px;
            position: relative;
            top: 8px;
            left: 3px;
            width:60px;
        }
        .txtContainer{
            position: absolute;
            top: 120;
            background: rgba(255, 255, 255, 0.95); /* white background with transparency */
            width: 800px;
            height: 420px;
            padding: 10px;
            margin:auto;
            left:160px;
            
        }
        
        #topbar{
            background-color: lightgray;
			height:70px;
			width:1200px;
            opacity:5%;
            float:left;
            border-bottom:black 1px solid;
            padding: 10px 0px 0px 5px;
            padding-bottom: 0px;
            margin-bottom:2px;
        }
        .topbar-menu {
                
            font-size:18px;
            color: deepskyblue;
            float:left;
            margin-left:2px;
            margin-right:5px;
            padding-right: 3px;
                
        }
		#bar2{
			background-color:lightgray;
			height:170px;
			width:1200px;
            opacity:5%;
            float:left;
            border-bottom:black 1px solid;
			}
		a{
            text-decoration: none;
            color:deepskyblue;
        }
        a:hover {
	        text-decoration: underline;
                }   	
		#records{
            opacity: 0.80;
        }
        #photo
        {
            border-radius:50%;
            width:150px;
            float:left;
            margin:10px 10px;                
        }
        #hello
        {
            position: absolute;
            top: 50%;
            left: 50%;         
            font-size:40px;
            color:white;
            display:none;
            transform: translate(-93%, -50%);            
        }
       
        #aboutMe
        {
            position: absolute;
            top: 20px;
            right: 16px;       
            font-size:25px;
            color:white;
            border: white 1px solid;          
        }
        #aboutMe:hover {
            color:deepskyblue;
            border-color: deepskyblue;
            cursor:pointer;

        }
        #billpic{
            float:right;
            margin: 10px 10px;
            height:190px;
            border-radius:5%;
            border:black 1px solid;
        }
        input{
            font-size:18px;
            padding:5px 5px 12px 5px;
            border-radius: 5px;
            border: 1px solid grey;
            margin-bottom:5px;
            width:320px;
        }
        textarea{
            font-size:18px;
            padding:5px 5px 12px 5px;
            border-radius: 5px;
            border: 1px solid grey;
            bottom: 4px;
            width:  320px;
            height: 220px;
            margin-top:5px;
        }
        label {
            position: relative;
            width:200px;
            margin-top:1px;

        }
        #wrapper {
            position: relative;
            width: 550px;
            margin:0 auto;

        }
        #submit{
            position: relative;
            width:130px;
            margin-top: 5px;
        }
        #photoContact
        {
            border-radius:50%;
            width:250px;
            float:none;
            margin:10px 10px;
                  
        }
        .sidebar{
            position:relative;
            float:left;
            margin-left:5px;
            width:320px;
            height:600px;
        }
